@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center{
  @apply flex items-center justify-center
};
.flex-between{
  @apply flex items-center justify-between
};
.flow-center{
  @apply flex flex-col items-center justify-center
};
Image{
  @apply cursor-pointer
};
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}